body{
	background-image: url(../images/colorful.jpg);
	background-repeat: no-repeat;
	background-psoition: center;
	background-size: cover;
	min-height: 100%;
	margin: 0;
	padding: 0;
	
}


.header{
	position: absolute;
	margin-left: 85px 70px;
	padding: 35px 45PX;
	left: 602px;
	top: 397px;
	font-family:"Comic Sans MS", cursive;
	
}


	 
	 
