header, h1{
	      background-color:#FFED74 ;
	      text-align: center;
	      font-size: 36px;
	      font-family: 
	      margin: 0.25em;
	      padding: 0.25em;

}

#wrapper{
        background:; 

}

#one{
     background:; 

}

.menu{
      background: #E8C66A;

}

ul{
   text-align:center;
   text-decoration: none;
   margin: 0.25em;
   padding: 1em;
}

li{

	display: inline;
	margin: 1em; 
	padding: 1em;
	font-size: 14px
	
	
    }
.picture{
        background: #FFC675;
        margin: .25em;
        padding: 1.2em;
        }
p{

   text-align: center;
   margin: 1em;
   padding: 3em;
   }

footer{
      background:#FF957E;
      text-align: center;
      font-size: 14px;
      margin: 0.2em
      padding: 0.2em;
      }

.description{
           background: #E89C6C;
           margin: em;
           padding: em;
           font-size: : 14px;
           }